.affairAll {
    background-color: #9A8B8BFF;
    width: 380px;
    height: 30px;
    display: flex;
}


.item {

    margin-left: 10px;
    width: 110px;
}

.button {

}

.high {
    color: red;
}

.middle {
    color: orange;
}

.low {
    color: green;
}