.default {
    border-radius: 4px;
    margin-left: 25px;
    border: none;
    color: lavenderblush;
    background-color: royalblue;
    width: 60px;
    height: 20px;
    font-size: 14px;

}

.default:hover {
    background-color: skyblue;
    border: 1px solid royalblue;
}

.red {
    background: red;
}